extends _base

block contents
    .container-fluid.flex-grow-1.w-100
        .orbit
            .orbit-center-circle
                .orbit-frame.bg-secondary
                .orbit-title.text-white Orbit

block scripts
    script.
        gOrbit.init({
            debug: false,
            base_class: "orbit",
            base_radius: 5,
            base_amount: 6,
            update_interval: 1000,
            divide_between: false,
            use_fetch: true,
            fetch_href: "/post",
            fetch_method: "post",
            on_click: "alert(this.name)",
            class_map: {
                cpu: {
                    NORMAL: "cpu-normal",
                    WARN: "cpu-warning",
                    CRITICAL: "cpu-critical",
                },
                ram: {
                    NORMAL: "ram-normal",
                    WARN: "ram-warning",
                    CRITICAL: "ram-critical",
                },
                disk: {
                    NORMAL: "disk-normal",
                    WARN: "disk-warning",
                    CRITICAL: "disk-critical",
                },
                sever: {
                    NORMAL: "server-normal",
                    ABNORMAL: "server-abnormal",
                    ALTERED: "server-altered",
                    DISCARDED: "server-discarded",
                },
            },
        });
