extends _base

block contents
    .orbit
        .orbit-inner
            .orbit-center-circle
                .orbit-frame
                .orbit-title.text-white Orbit

block scripts
    script.
        gOrbit.init({
            //- debug: true,
            update_interval: 1000,
            use_fetch: true,
            fetch_href: "/api/post",
            fetch_method: "post",
            on_click: "alert(this.name)",
            class_map: {
                cpu: {
                    NORMAL: "normal",
                    WARN: "warning",
                    CRITICAL: "critical",
                },
                memory: {
                    NORMAL: "normal",
                    WARN: "warning",
                    CRITICAL: "critical",
                },
                disk: {
                    NORMAL: "normal",
                    WARN: "warning",
                    CRITICAL: "critical",
                },
                server: {
                    NORMAL: "normal",
                    ABNORMAL: "abnormal",
                },
            },
            binding_specify: {
                server: "item",
            },
            contents_field: "alias",
        });
