extends _base

block contents
    .container-fluid.flex-grow-1.w-100
        .orbit
            .orbit-center-circle
                .orbit-frame.bg-secondary
                .orbit-title.text-white Orbit

block scripts
    script.
        gOrbit.init({
            debug: false,
            base_class: "orbit",
            base_radius: 6,
            base_amount: 6,
            update_interval: 1000,
            use_fetch: true,
            fetch_href: "/post",
            fetch_method: "post",
            on_click: "alert(this.name)",
            class_map: {
                cpu: {
                    NORMAL: "normal",
                    WARN: "warning",
                    CRITICAL: "critical",
                },
                memory: {
                    NORMAL: "normal",
                    WARN: "warning",
                    CRITICAL: "critical",
                },
                disk: {
                    NORMAL: "normal",
                    WARN: "warning",
                    CRITICAL: "critical",
                },
                server: {
                    NORMAL: "server-normal",
                    ABNORMAL: "server-abnormal",
                    ALTERED: "server-altered",
                    DISCARDED: "server-discarded",
                },
            },
        });
