extends _base

block contents
    .container-fluid.flex-grow-1.w-100
        .orbit
            .orbit-center-circle.orbit-layer
                .orbit-frame.bg-secondary
                .orbit-title.text-white Orbit

block scripts
    script.
        gOrbit.listen({
            serviceData: [
                {
                    name: 1,
                    up: 15,
                    down: 60,
                    birth: "1646237721000",
                    execCnt: 100,
                    clickEvent: "alert('yayyyyyyy')",
                },
                {
                    name: 2,
                    up: 39,
                    down: 45,
                    birth: "1634269377000",
                    execCnt: 77,
                    clickEvent: "alert('test')",
                },
                {
                    name: 3,
                    up: 74,
                    down: 31,
                    birth: "1622915878000",
                    execCnt: 44,
                    clickEvent: "alert('test')",
                },
                {
                    name: 4,
                    up: 52,
                    down: 75,
                    birth: "1629019533000",
                    execCnt: 16,
                    clickEvent: "alert('test')",
                },
                {
                    name: 5,
                    up: 21,
                    down: 82,
                    birth: "1633463326000",
                    execCnt: 90,
                    clickEvent: "alert('test')",
                },
                {
                    name: 6,
                    up: 7,
                    down: 17,
                    birth: "1642885974000",
                    execCnt: 63,
                    clickEvent: "alert('test')",
                },
                {
                    name: 7,
                    up: 12,
                    down: 43,
                    birth: "1623891941000",
                    execCnt: 37,
                    clickEvent: "alert('test')",
                },
                {
                    name: 8,
                    up: 38,
                    down: 66,
                    birth: "1634622180000",
                    execCnt: 11,
                    clickEvent: "alert('test')",
                },
                {
                    name: 9,
                    up: 18,
                    down: 71,
                    birth: "1626326114000",
                    execCnt: 48,
                    clickEvent: "alert('test')",
                },
                {
                    name: 10,
                    up: 45,
                    down: 28,
                    birth: "1642214143000",
                    execCnt: 15,
                    clickEvent: "alert('test')",
                },
                {
                    name: 11,
                    up: 26,
                    down: 54,
                    birth: "1631458445000",
                    execCnt: 50,
                    clickEvent: "alert('test')",
                },
                {
                    name: 12,
                    up: 61,
                    down: 100,
                    birth: "1642495049000",
                    execCnt: 79,
                    clickEvent: "alert('test')",
                },
                {
                    name: 13,
                    up: 51,
                    down: 14,
                    birth: "1624601089000",
                    execCnt: 35,
                    clickEvent: "alert('test')",
                },
                {
                    name: 14,
                    up: 51,
                    down: 36,
                    birth: "1628727944000",
                    execCnt: 64,
                    clickEvent: "alert('test')",
                },
                {
                    name: 15,
                    up: 32,
                    down: 48,
                    birth: "1634036474000",
                    execCnt: 82,
                    clickEvent: "alert('test')",
                },
                {
                    name: 16,
                    up: 71,
                    down: 11,
                    birth: "1638460787000",
                    execCnt: 97,
                    clickEvent: "alert('test')",
                },
                {
                    name: 17,
                    up: 29,
                    down: 40,
                    birth: "1638522427000",
                    execCnt: 6,
                    clickEvent: "alert('test')",
                },
                {
                    name: 18,
                    up: 55,
                    down: 50,
                    birth: "1651130826000",
                    execCnt: 47,
                    clickEvent: "alert('test')",
                },
                {
                    name: 19,
                    up: 37,
                    down: 48,
                    birth: "1630571504000",
                    execCnt: 90,
                    clickEvent: "alert('test')",
                },
                {
                    name: 20,
                    up: 51,
                    down: 18,
                    birth: "1620420954000",
                    execCnt: 15,
                    clickEvent: "alert('test')",
                },
                {
                    name: 21,
                    up: 12,
                    down: 62,
                    birth: "1630912965000",
                    execCnt: 14,
                    clickEvent: "alert('test')",
                },
                {
                    name: 22,
                    up: 69,
                    down: 27,
                    birth: "1650599313000",
                    execCnt: 80,
                    clickEvent: "alert('test')",
                },
                {
                    name: 23,
                    up: 41,
                    down: 46,
                    birth: "1641063006000",
                    execCnt: 38,
                    clickEvent: "alert('test')",
                },
                {
                    name: 24,
                    up: 78,
                    down: 3,
                    birth: "1647051362000",
                    execCnt: 9,
                    clickEvent: "alert('test')",
                },
                {
                    name: 25,
                    up: 0,
                    down: 98,
                    birth: "1647917364000",
                    execCnt: 5,
                    clickEvent: "alert('test')",
                },
                {
                    name: 26,
                    up: 11,
                    down: 60,
                    birth: "1632139682000",
                    execCnt: 27,
                    clickEvent: "alert('test')",
                },
                {
                    name: 27,
                    up: 27,
                    down: 8,
                    birth: "1620708167000",
                    execCnt: 83,
                    clickEvent: "alert('test')",
                },
                {
                    name: 28,
                    up: 94,
                    down: 8,
                    birth: "1644847123000",
                    execCnt: 16,
                    clickEvent: "alert('test')",
                },
                {
                    name: 29,
                    up: 46,
                    down: 38,
                    birth: "1625467013000",
                    execCnt: 26,
                    clickEvent: "alert('test')",
                },
                {
                    name: 30,
                    up: 5,
                    down: 87,
                    birth: "1648142584000",
                    execCnt: 32,
                    clickEvent: "alert('test')",
                },
                {
                    name: 31,
                    up: 5,
                    down: 48,
                    birth: "1638178811000",
                    execCnt: 74,
                    clickEvent: "alert('test')",
                },
                {
                    name: 32,
                    up: 45,
                    down: 58,
                    birth: "1640322983000",
                    execCnt: 87,
                    clickEvent: "alert('test')",
                },
                {
                    name: 33,
                    up: 85,
                    down: 57,
                    birth: "1629726238000",
                    execCnt: 48,
                    clickEvent: "alert('test')",
                },
                {
                    name: 34,
                    up: 69,
                    down: 43,
                    birth: "1628938446000",
                    execCnt: 38,
                    clickEvent: "alert('test')",
                },
                {
                    name: 35,
                    up: 85,
                    down: 53,
                    birth: "1643824267000",
                    execCnt: 23,
                    clickEvent: "alert('test')",
                },
                {
                    name: 36,
                    up: 20,
                    down: 85,
                    birth: "1626912046000",
                    execCnt: 67,
                    clickEvent: "alert('test')",
                },
                {
                    name: 37,
                    up: 45,
                    down: 11,
                    birth: "1636156585000",
                    execCnt: 0,
                    clickEvent: "alert('test')",
                },
                {
                    name: 38,
                    up: 78,
                    down: 67,
                    birth: "1625265381000",
                    execCnt: 33,
                    clickEvent: "alert('test')",
                },
                {
                    name: 39,
                    up: 27,
                    down: 40,
                    birth: "1628704999000",
                    execCnt: 69,
                    clickEvent: "alert('test')",
                },
                {
                    name: 40,
                    up: 28,
                    down: 53,
                    birth: "1630896411000",
                    execCnt: 51,
                    clickEvent: "alert('test')",
                },
                {
                    name: 41,
                    up: 38,
                    down: 31,
                    birth: "1639005226000",
                    execCnt: 91,
                    clickEvent: "alert('test')",
                },
                {
                    name: 42,
                    up: 45,
                    down: 16,
                    birth: "1630382397000",
                    execCnt: 75,
                    clickEvent: "alert('test')",
                },
                {
                    name: 43,
                    up: 60,
                    down: 47,
                    birth: "1622313139000",
                    execCnt: 59,
                    clickEvent: "alert('test')",
                },
                {
                    name: 44,
                    up: 84,
                    down: 23,
                    birth: "1622555532000",
                    execCnt: 68,
                    clickEvent: "alert('test')",
                },
                {
                    name: 45,
                    up: 1,
                    down: 5,
                    birth: "1649365794000",
                    execCnt: 3,
                    clickEvent: "alert('test')",
                },
                {
                    name: 46,
                    up: 74,
                    down: 89,
                    birth: "1620958058000",
                    execCnt: 6,
                    clickEvent: "alert('test')",
                },
                {
                    name: 47,
                    up: 91,
                    down: 7,
                    birth: "1623295058000",
                    execCnt: 77,
                    clickEvent: "alert('test')",
                },
                {
                    name: 48,
                    up: 27,
                    down: 41,
                    birth: "1627467479000",
                    execCnt: 87,
                    clickEvent: "alert('test')",
                },
                {
                    name: 49,
                    up: 35,
                    down: 29,
                    birth: "1630479533000",
                    execCnt: 46,
                    clickEvent: "alert('test')",
                },
                {
                    name: 50,
                    up: 92,
                    down: 57,
                    birth: "1644577461000",
                    execCnt: 56,
                    clickEvent: "alert('test')",
                },
            ],
            dummy: "yummy",
        });

        gOrbit.init({
            debug: true,
            base_class: "orbit",
            base_radius: 5,
            base_amount: 6,
            update_interval: 1000,
            use_fetch: false,
            fetch_href: "/api",
        });
