.orbit {
    width: 100%;
    height: 100%;
    overflow: scroll;
    background-color: #f6f7fa;
    overflow: hidden;
    display: flex;
    position: relative;
}

.orbit-inner {
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    position: relative;
}

.orbit-layer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #adb5bd;
    opacity: .5;
    border-radius: 50%;
    &::before {
        content: "";
        display: block;
        width: 100%;
        padding-top: 100%;
    }
}

.orbit-title, .orbit-body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.orbit-frame {
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.13);
    border-radius: 50%;
    &::before {
        content: "";
        display: block;
        width: 100%;
        padding-top: 100%;
    }
    background-color: #ffffff;
    box-shadow: 0px 0px 0.5rem 0px rgba(0, 0, 0, 0.13);
}

.orbit-title {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.orbit-placer {
    position: absolute;
    z-index: 999;
    bottom: 50%;
    left: 50%;
    width: 0;
}

.orbit-radius {
    position: relative;
    transform: rotate(0deg);
    transform-origin: bottom center;
    transition: height 0.5s ease, transform 0.5s ease;
}

.orbit-item {
    position: absolute;
    top: 0;
    left: 50%;
    text-align: center;
    font-size: 12px;
    transform: translate(-50%, -50%);
    transition: opacity 0.5s ease, width 0.5s ease, margin-top 0.5s ease;
}

.orbit-item-lg {
    width: 5rem;
    line-height: 1.25rem;
    font-size: 0.95rem;
}

.orbit-item-md {
    width: 5rem;
    line-height: 1rem;
    font-size: 0.8rem;
}

.orbit-item-sm {
    width: 4.4rem;
    line-height: 0.9rem;
    font-size: 0.7rem;
}

.orbit-item-xs {
    width: 3.3rem;
    line-height: 0.7rem;
    font-size: 0.6rem;
    margin: 0.5rem;
}

.orbit-body, .orbit-status {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: transform 0.5s ease;
    z-index: 998;
}

.placing {
    opacity: 0;
    margin-top: -7rem;
}

.orbit-center-circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 6rem;
    z-index: 998;
    .orbit-frame {
        border: none;
        background-color: #343a40;
    }
}

.orbit-status {
    z-index: -1;
}

[class^=orbit-key]:not(.orbit-key-server) {
    position: absolute;
    bottom: 50%;
    height: 70%;
    width: 100%;
    left: 0;
    padding: 0.75rem 0.75rem 1rem 0.75rem;
    filter: blur(0.5rem);
    transform-origin: bottom center;
    &::before {
        content: "";
        display: block;
        width: 100%;
        padding-top: 100%;
        border-radius: 50%;
        transition: background-color 0.5s ease;
    }
}

.orbit-key-cpu {
    transform: rotate(60deg);
}

.orbit-key-memory {
    transform: rotate(180deg);
}

.orbit-key-disk {
    transform: rotate(-60deg);
}

[class$=value-critical]:not(.orbit-key-server) {
    &::before {
        background-color: #dc3545;
    }
}

[class$=value-warning]:not(.orbit-key-server) {
    &::before {
        background-color: #ffc107;
    }
}

[class$=value-normal]:not(.orbit-key-server) {
    &::before {
        background-color: #0dcaf0;
    }
}

.orbit-name {
    display: block;
    padding: 0.25rem;
    word-break: break-all;
    color: #212529;
}

.orbit-alert {
    position: relative;
    padding: 1rem 1rem;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid transparent;
    border-radius: 0.5rem;
    color: #842029;
    background-color: #f8d7da;
    border-color: #f5c2c7;
    width: fit-content;
    transition: opacity 1s ease, margin-top 0.5s ease;
}

.orbit-debug-title {
    margin-left: -1.5rem;
    font-weight: bold;
    border-top: 1px solid #000;
    width: 10rem;
    padding-top: 0.5rem;
}

.orbit-debugger {
    position: fixed;
    top: 6rem;
    left: 2rem;
}